@import '../../styles/base/variables.scss'; 

.errorContainer {
    margin-top: 80px;
    min-height: 40vh;
    text-align: center;
    color: $text-color;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) { 
    .errorContainer  {
        min-height: 60vh;
    }
}
